@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  min-height: 100vh;
}

main>*,
header,
footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7pt;
}

article {
  flex: 4 0 60%;
  background: rgb(0, 255, 149);
  flex-grow: 4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  flex: 1 1 20%;
  background: orange;
  order: -1;
  flex-grow: 1;

}

aside {
  flex: 1 1 20%;
  background: rgb(211, 211, 28);
  flex-grow: 1;

}

header,
footer {
  background: rgb(172, 172, 180);
}

@media all and (max-width:640px) {
  main {
    flex-direction: column;
    flex-grow: 1;
  }

  nav {
    order: 1;
  }

  aside {
    order: 2;

  }
}